
	
#title {
	background-color: slategrey;
	color: snow;
	text-align: center;
	font-size: 72px;
	font-family: fantasy;

}

#sidenote {
	background-color: lightgrey;
	color: black;
	text-align: center;
	font-size: 18px;
	font-family: cursive;
	margin-right: 500px;
	margin-left: 500px;

}

p {
	background-color: dimgray;
	color: darkgray;
	font-family: helvetica;
}

