
	
#title {
	background-color: slategrey;
	color: snow;
	text-align: center; 
	font-size: 72px;
	font-family: fantasy;
	border-bottom: 5px;

}

#sidenote {
	background-color: lightgrey;
	color: black;
	text-align: center;
	font-size: 18px;
	font-family: cursive;
	margin-right: 300px;
	margin-left: 300px;
	position: relative;
	bottom: 70px;

}

p {
	color: dimgray;
	font-family: helvetica;
	font-size: 25px;
}

#left img{

	float: left;
	clear: left;
	display: block;
	width: 40%;
}

#right img {

	float: right;
	clear: right;
	display: block;
	width: 40%;
	position: relative;
	bottom: 2300px;
}
/*#upsidedown {
	transform: rotate(90deg);
	width: 200px;

}*/

.pictures img{
	size: auto;
	max-width: 500px;
	margin: 020px;
	display: inline-block;
}



#gallerytitle {

	text-decoration: underline;
	text-align: center;
	font-size: 50px;
	color: darkblue;
	background-color: olive;
	margin-left: 300px;
	margin-right: 300px;

}

#nav {
	position: fixed;
	bottom: 10px;
	left: 43%;
	font-size: 30px;
}

#contact {

	font-size: 50px;
	text-align: center;
	color: darkred;

}

#info {
	text-decoration: underline;
	color: black;
}

@media only screen and (max-width: 1200px) { 

.pictures img {
	display: block;

}
 
#right img {
	display: inline-block;
	position: static;
	clear: right;
	float: left;
} 

#left img {
	display: inline-block;
	position: static;
	clear: right;
}

#nav {
	right: 10%;
	font-size: 20px;
	position: static;
}
 #galleytitle {
 	margin-left: 10px; 
 	margin-right: 10px;
 	position: static;
 	text-align: left;
 	font-size: 20px;
 }


}	

@media only screen and (max-width: 600px) {

.pictures img {
	display: block;

}
 
#right img {
	display: block;
	position: static;
	clear: right;
	float: left;
} 

#left img {
	display: block;
	position: static;
	clear: right;
}

#nav {
	right: 10%;
	font-size: 10px;
	position: static;
}
 #galleytitle {
 	margin-left: 50px; 
 	margin-right: 50px;
 	position: static;
 	text-align: left;
 	font-size: 20px;
 }


}


















